body{
	background-color: white;
}
#app{
  margin: 0;
}
 #header.mui-bar{
  background-color: #26a2ff;
}

.router-link-active{
	color:#007aff;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  zoom: 1;
}
#tmpl{
	margin-top: 45px;
	margin-bottom: 50px;
}
.mui-bar-tab .mui-active{
  color: #007aff;
}
ul li,ol li{
  list-style: none;
}


